{{ define "main" }}
<main>
    {{ range .Pages }}
    <ul class="pure-menu-list">
    <!-- Ranges through content/post/*.md -->
        <li>
            <div class="posts">
                <h2 class="post-title" ><a href="{{.Permalink}}">{{.Title}}</a></h2> 
                <i>{{.Date.Format "2006-01-02"}}</i>
            <div class="uk-card-body"> 
                {{ .Summary | plainify }}
           </div>
            <div class="uk-card-footer">
                {{ if .Truncated }}
                <a href="{{ .RelPermalink }}">Lire plus...</a>
            </div>
            {{ end }}
            </div>
        </li>
     {{ end }}
    </ul>
</main>

