<!--
https://getuikit.com/docs/alert)
- primary 	Give the message a prominent styling. (bleu)
- success 	Indicates success or a positive message. (vert)
- warning 	Indicates a message containing a warning. (orange)
- danger 	Indicates an important or error message. (rouge)

utilisation : 
bandeau primary 

-->
{{ $style := (.Get 0) | default "primary" }}
{{ $icon := .Scratch.Get "icon" }}
{{ if  eq $style "primary" }} 
    {{ $.Scratch.Set "icon" "eye" }}
{{ else if eq $style "success"}}
    {{ $.Scratch.Set "icon" "info" }}
{{ else if eq $style "warning"}}
{{  $.Scratch.Set "icon" "warning" }}
{{ else if eq $style "danger"}}
    {{ $.Scratch.Set "icon" "ban" }}
{{ end }}
{{ $icon := .Scratch.Get "icon" }}

<div class="uk-alert-{{ $style }}" uk-alert>
    <span uk-icon="icon: {{ $icon }} ; ratio:2"></span>
    <a class="uk-alert-close" uk-close></a>
    <p class="bandeau">{{ .Inner | markdownify }}</p>
</div>

