<!--
https://codepen.io/
-->
<p class="codepen" data-height="400" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="{{- .Get 0 -}}" data-user="christ0phe" style="height: 200px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>Voir le pen <a href="https://codepen.io/christ0phe/pen/{{- .Get 0 -}}">
  Purecss</a> by christophe (<a href="https://codepen.io/christ0phe">@christ0phe</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
